@import '../../styles/include.scss';
@keyframes fade{
    0%{
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.component{
	position: relative;
	margin: 2vh 0;
	font-size: 20px;
    animation: fade 600ms $ease-out-quint both;
}
.section{
	color: $green;
	font-weight: bold;
}

.seperate{
	margin: 0 1vw;
}