@import '../../styles/include.scss';
@keyframes slidein{
	0%{
		opacity:0;
		transform: translate3d(10vw,0,0);
	}
	100%{
		opacity:1;
		transform: translate3d(0,0,0);
	}
}
.component{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
}
.hero{
	width: 100vw;
	height: 32vh;
	position: relative;
}
.image{
	width: 100%;
	height: 100%;
}

.title{
	display: inline-block;
	position: absolute;
	background-color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	color: $green;
	font-size: 29px;
	line-height: 29px;
	font-weight: 400;
	padding: 10px 60px;
	bottom:-30px;
	border-bottom: 30px solid $green;
}

.content{
	padding: 4vh 14.6vw 4vh 19.8vw;
	height: 55vh;
}

.heading{
	font-size: 23px;
	line-height: 150%;
}

.summaryHead{
	color: #59595B;
	font-weight: 400;
	font-size: 45px;
	line-height: 115%;
	margin: 0;
	margin-bottom: 2vh;
	animation: slidein 600ms $ease-out-quint both;
}

.list{
	width: 100%;
	height: 32vh;
}

.geometric{
	height:10vh;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom left;
	bottom: 6.2vh;
}