@import '../../../styles/include.scss';
@keyframes fade{
    0%{
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes pop{
    0%{
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.component{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
}
.hero{
	width: 100vw;
	height: 32vh;
	position: relative;
}
.image{
	width: 100%;
	height: 100%;
}

.title{
	display: inline-block;
	position: absolute;
	background-color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	color: $green;
	font-size: 29px;
	line-height: 29px;
	font-weight: 400;
	padding: 10px 60px;
	bottom:-30px;
	border-bottom: 30px solid $green;
}

.content{
	padding: 3.5vh 10vw 4vh 20vw;
	height: 62vh;
}
.head{
	font-size: 20px;
	line-height: 148%;
	color:#59595B;
	margin-bottom: 2vh;
	height: 6.5vh;
	overflow: hidden;
    animation: pop 600ms $ease-out-quint both;
}
.highlights{
	padding-right: 6.5vw;
}
.hlItem{
    animation: fade 600ms $ease-out-quint both;
	@include animation-sequence(30ms, 6);
}
.hlList{
	display: flex;
	justify-content: space-between;
}
.hlImg{
	width: 14.150vw;
	height:19.99vw;
	position: relative;
	&.isActive{outline: 4px solid $green;}
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 7%;
		left: -10px;
		background-color: rgba(0,0,0,0.3);
		transform: skew(0, -5deg) scaleY(1.00);
		filter: blur(8px) contrast(200%);
	}
}
.hlLink{
	display: block;
	color: $green;
	font-weight: bold;
	text-align: center;
	width: 100%;
	font-size: 18px;
	margin-top: 1vh;
}

.heading{
	font-size: 23px;
	line-height: 150%;
}

.pubs{
	position: relative;
	margin-top: 4vh;
	@include scroll-fade();
	h2{
    	animation: fade 600ms $ease-out-quint both;
		font-size: 35px;
		font-weight: normal;
	}
}

.filterToggle{
	position: absolute;
	right: 0;
	top: 10px;
	color: $green;
	font-weight: bold;
	font-size: 18px;
	padding-right: 10vw;
   	animation: pop 600ms $ease-out-quint both;
}

.list{
	width: 100%;
	height: 16vh;
	overflow-y: scroll;
	padding-right:60px;
}

.pubItem{
	font-size: 18px;
	line-height: 137%;
	margin-bottom: 2vh;
}

.filters{
    animation: fade 600ms $ease-out-quint both;
	position: absolute;
	bottom:6.1vh;
	width: 67vw;
	left: 20vw;
	background-color: $white;
	border: 1px solid rgba(89, 89, 91, 0.2);
	box-shadow: -2px -12px 20px -1px rgba(0, 0, 0, 0.1);
	z-index: 200;
}
.filtersHead, .filtersFoot{
	padding: 2vh 3vh;
	border-bottom: 1px solid #59595B;
	display: flex;
	align-items: center;
	h2{
		margin: 0;
	}
}
.filtersFoot{
	border-top: 1px solid #595959;
	border-bottom: 0;
}
.filtersClose{
	margin-left: auto;
	color: $green;
	font-weight: bold;
	font-size: 16px;
	vertical-align: middle;
	position: relative;
	top:-6px;
	cursor: pointer;
	svg{
		font-size: 32px;
		position: relative;
		top:9px;
	}
}
.filtersBody{
	display: flex;
}
.cats, .topics{
	padding: 2vh;
	h3{
		width: 100%;
		margin-top: 0;
		margin-bottom: 2vh;
	}
}
.cats{
	width:65%;
	display: flex;
	flex-wrap: wrap;
	.filter{
		width: 50%;
		padding-right: 2vw;
	}
	border-right: 1px solid #595959;
}
.topics{
	width: 35%;
}
.filter{
	margin-bottom: 1vh;
	display: flex;
	span{
		width: calc(100% - 32px);
		font-size: 18px;
		line-height: 138%;
	}
}
.apply{
	position: absolute;
	bottom:20px;
	right:20px;
	padding: 12px 20px;
	background-color: $green;
	color: $white;
}
.checkbox{
	width: 20px;
	height: 20px;
	border: 1px solid #595959;
	margin-right: 10px;
}
.geometric{
	height:10vh;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom left;
	bottom: 6.2vh;
}