@import '../../styles/include.scss';
@keyframes fade{
    0%{
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes pop{
    0%{
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.component{
	height: 6vh;
	padding: 0 6vw;
}
.tabs{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.tab{
	padding: 2.5vw 2.25vw 1.75vw 2.25vw;
	font-size: 19px;
	color: $green;
	font-weight: bold;
	&.isActive{
		background-color: $white;
		color: #595959;
		font-weight: 400;
	}
}