@import '../../styles/include.scss';
@keyframes fade{
    0%{
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes pop{
    0%{
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.component{
	width: 100%;
}

.hero{
	height: 56.25vw;
	position: relative;
    animation: pop 600ms $ease-out-quint both;
}
.tabs{
	background: rgba(89, 89, 91, 0.1);
	height: 6vh;
}
.content{
	padding: 2vh 12vw 4vh 19.8vw ;
	height: 62.35vh;
}

.layout{
	height: 36.6vh;
	overflow:hidden;
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	position: relative;
	@include scroll-fade();
}

.grid{
	display: flex;
	flex-grow: 1;
}

.title{
	display: block;
	height: auto;
	flex-shrink: 0;
    animation: pop 600ms $ease-out-quint both;
	h3{
		margin-bottom: 0.5vh;
		font-size: 23px;
	}
	h2{
		font-size: 42px;
		font-weight: normal;
		line-height: 115%;
		margin: 0;
	}
	overflow-y: hidden;
	&.short{padding-right: 30%;}
}

.body{
	margin-top: 1vh;
	width: 70vw;
	font-size: 19px;
	overflow-y: scroll;
	line-height: 138%;
	&.loneBody{
		padding-right: 6vw;
	}
	&:not(.loneBody){
		padding-right: 20vw;
	}
}
.bodyWrapper{
	padding-bottom: 2vh;
}

.qrCode{
	position: absolute;
	width: 20vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	bottom: 0;
	right:0;
	z-index:2;
	> div{
		margin-top: auto;
	}
}

.tail{
	padding: 3vh 12vw 4vh 19.8vw ;
	position: absolute;
	bottom: 1.8vh;
	left: 0;
}

.geometric{
	height:10vh;
	width: 30%;
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 11vh;
	right:6vw;
	opacity:0.4;
    animation: pop 600ms $ease-out-quint both;
}