
@import '../../../styles/include.scss';
@keyframes fade{
    0%{
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes pop{
    0%{
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slide{
    0%{
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.component{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
}
.hero{
	width: 100vw;
	height: 32vh;
	position: relative;
}
.image{
	width: 100%;
	height: 100%;
}

.title{
	display: inline-block;
	position: absolute;
	background-color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	color: $green;
	font-size: 29px;
	line-height: 29px;
	font-weight: 400;
	padding: 10px 60px;
	bottom:-30px;
	border-bottom: 30px solid $green;
}
.tabs{
	background: rgba(89, 89, 91, 0.1);
	height: 6vh;
}
.highlights{
	background-color: $green;
	color: $white;
	padding: 3vh 7vw 2vh 7vw;
	margin-top: 0.5vh;
	height: 25.5vh;
}

.highlightsHeading{
	display: flex;
	margin-bottom: 2vh;
	h2{
		display: block;
		width: 25%;
		text-align: right;
		padding-right: 2vw;
		font-weight: 400;
		font-size: 40px;
		line-height: 115%;
		margin: 0;
    	animation: pop 600ms $ease-out-quint both;
	}
	p{
    	animation: fade 600ms $ease-out-quint both;
		margin: 0;
		padding-left: 2vw;
		display: block;
		width: 75%;
		font-size: 18px;
		line-height: 150%;
	}
}

.hlList{
	display: flex;
	width: calc(100% + 2vw);
	margin-left: -1vw;
}

.hlItem{
	width: 25%;
	padding: 1vw;
    animation: fade 600ms $ease-out-quint both;
	@include animation-sequence(35ms, 6);
}
.hlWrap{
	cursor: pointer;
	height: 100%;
	padding: 1.5vw;
	background: rgba(255, 255, 255, 0.58);
	border: 2px solid #FFFFFF;
}
.hlYear{
	font-size: 23px;
	line-height: 137%;
	font-weight: bold;
	display: inline-block;
	padding-bottom: 0.5vh;
	margin-bottom: 1vh;
	border-bottom: 1px solid $white;
}
.hlTitle{
	color: $green;
	font-weight: bold;
	font-size: 16px;
	min-height: 3vh;
}
.hlExtra{
	font-size: 15px;
}

.content{
	padding: 3vh 6vw 4vh 22vw;
	height: 30vh;
	display: flex;
	h3{
		font-size: 20px;
		line-height: 137%;
		margin-bottom: 2vh;
		margin-top: 0;
	}
	font-size: 17px;
	line-height: 170%;
}
.education{
	width: 45%;
   	animation: fade 1000ms $ease-out-quint both;
}
.memberships{
	width: 55%;
   	animation: pop 800ms $ease-out-quint both;
}

.geometric{
	height:10vh;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom left;
	bottom: 6.2vh;
}


.timeline{
	margin-top: 0.5vh;
	height: 55.5vh;
	padding-top: 3vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	@include scroll-fade();
	&:after{
		bottom: 15.4vh;
	}
}

.tlItems{
	height: 37vh;
	width: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 45px;
	scroll-behavior: smooth;
}

$spacing: 84px;
.tlItem{
	text-align: center;
	position: relative;
	margin-bottom: $spacing;
	width: 75px;
	display: flex;
	align-items: center;
	&:after{
		content: '';
		display: block;
		height: $spacing;
		width: 2px;
		background-color: #5b5b5b;
		position: absolute;
		top:100%;
		left:calc(50% - 1px);
	}
	&:last-child{
		&:after{
			display: none;
		}
	}
}

.tlYear{
	display: inline-block;
	background: rgba(89, 89, 91, 0.2);
	padding: 2.5vw 2.5ddw;
	text-align: center;
	width: 75px;
	height: 75px;
	font-size: 20px;
	line-height: 381%;
	border-radius: 100%;
	font-weight: bold;
	.hasDetail &{
		background-color: $green;
		color: $white;
	}
}

.tlControl{
	margin-top: 2vh;
	.up, .down{
		width: 32px;
		height: 32px;
		svg{
			width: 100%;
			height: 100%;
			color: $green;
		}
	}
	.down{
		margin-top: 0.5vh;
		svg{
			transform: rotateZ(180deg)
		}
	}
}

.tlSummary{
	position: absolute;
	width: 28vw;
	font-size: 19px;
	right: calc(100% + 2vw);
	text-align: right;
	.tlItem:nth-child(odd) &{
		right: auto;
		left: calc(100% + 2vw);
		text-align: left;
	}
	.hasDetail &{
		color: $green;
		font-weight: bold;
		border: 1px solid  rgba(89,89,91,0.2);
		padding: 2vw;
		line-height: 150%;
		background-color: $white;
		box-shadow: 1px 5px 5px rgba(0,0,0,0.1);
	}
}